HOST=db # Change to localhost if you want to test Manually

PORT=3000
DB_PORT=5432

POSTGRES_USER=exampleuser
POSTGRES_PW=examplepass
POSTGRES_DB=exampledb

PGADMIN_MAIL=example@e.com
PGADMIN_PW=example
